<h2>Current Grocery List</h2>

<div ng-app="groceryLister" ng-controller="GroceryListsCtrl">

    <label>{{groceryList.name}}</label>

    <div class="currentGroceryListAssignedProducts">
        <ul ng-repeat="product in assignedProducts._embedded.product | orderBy:'+name':false">
            <li>{{product.name}}</li>
        </ul>
    </div>

    <div class="currentGroceryListUnassignedProducts">
        <table>
        <tr ng-repeat="product in availableProducts._embedded.product | orderBy:'+name':false">
            <td>
                <input
                        type="checkbox"
                        name="{{product.name}}"
                        ng-checked="false"
                        ng-click="assignProduct(product)"
                > {{product.name}}
            </td>
        </tr>
        </table>
    </div>
</div>